name: Deploy to server

on: push

jobs:
  first_job:
    name: Nombre del primer job
    runs-on: ubuntu-latest

    env:
      NAME: 'Codigo facilito'

    steps:
      - name: Hola mundo
        run: echo "Hola mundo ${{ env.NAME}}"

  second_job:
    if: ${{ github.ref == 'refs/heads/main'}}
    needs: first_job
    runs-on: ubuntu-latest

    steps:
      - name: Hola mundo
        run: echo "Hola mundo segundo ${{ github.ref }}"
